/* Your CSS Code here. */
.box {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: 200px;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}







/* .box{
	width: 300px;
	border: 15px solid blue;
	padding: 50px;
	margin: 20px;
	background-color: lightblue;
} */